body
{
	background-image: url("../img/chardons.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#presentation
{
	display: inline-block;
	opacity: 0.5;
	border: 1px solid white;
	
}

#menu
{
	display: inline-block;
	border: 1px solid black;
}